* {
  padding: 0;
  margin: 0;
}

.game-board {
  margin: 0 auto;
  max-width: 300px;
  display: grid;
  width: 306px;
  margin: 50px auto;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
}

.cell {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 0 1px #333333;
  border: 5px solid #333333;
  line-height: 500px;
  font-size: 70px;
  cursor: pointer;
}

.section-game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 35px;
}

.new-btn {
  width: 150px;
  padding: 10px;
  border-radius: 30px;
  border: none;
  font-size: 15px;
}

.restart-btn {
  width: 140px;
  padding: 10px;
  border-radius: 35px;
  border: none;
  font-size: 15px;
}

.title {
  border: 1px solid white;
  min-width: 100px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.player-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.player-position, .player-option {
  display: flex;
  gap: 30px;
  align-items: center;
}

.btn {
  border: none;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 500;
  cursor: pointer;
  font-size: 15px;
  padding: 20px;
  border-radius: 10px;
}

.game-play {
  font-size: 30px;
}

.player-option {
   font-family: 'Yanone Kaffeesatz', sans-serif;
   font-weight: 700;
   font-size: 20px;
}